
.App-link {
  color: #61dafb;
}

.red-highlight {
  background-color: red;
}

.green-highlight {
  background-color: green;
}

.blue-highlight {
  background-color: blue;
}

a,i {
  cursor: pointer;
}
